*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
header{
    height: 5rem;
    width: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: black;
    bottom: 100px;
}
#Score{
    color: white;
    z-index: 100;
    font-size: 5vmin;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-board{
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);  
    z-index: -2;
}
.snake{
    background-color: #3aaed8;
    border: .25vmin solid black;
    z-index: 10;
    border-radius: 0px 134px 134px 0px;
    -webkit-border-radius: 0px 134px 134px 0px;
    -moz-border-radius: 0px 134px 134px 0px;
    transition: 0.25s;
}
.snake-part{
    background-color: #3aaed8;
    border: .25vmin solid black;
    z-index: 10;
    transition: 0.25s;
}
.food{
    background-color: #ff595e;
    border: .25vmin solid black;
    z-index: 9;
}
.board{
    background-color: #82d173;
    z-index: 0;
    width: 6.67vmin;
    height: 6.67vmin;
}
.board2{
    background-color: #abfaa9;
    z-index: 0;
    width: 6.67vmin;
    height: 6.67vmin;
}
svg{
    z-index: 2;
}
.container{
    display: grid;
    grid-row: 5/12;
    grid-column: 5/12;
    opacity: 0;

}
.popup{
    background-color: rgba(107, 109, 118, 0.8);
    border-radius: 20px;
    opacity: 1;
    font-size: 6vmin;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: normal;
    padding: 10vmin;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: 1s slideUp forwards;
    flex-direction: column;
    text-align: center;
    color: white;
    border: solid white;
}
.restartButton{
    color: white;
    background-color: transparent;
    height: 100%;
    z-index: 50;
    font-size: 5vmin;
    transition: 0.3s;
    position: relative;
    border: none;
    cursor: pointer;
    font-family: "Indie Flower", serif;
    top: 15px;
}
@keyframes slideUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


