*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 110vh;
}
header{
    height: 3rem;
    width: 100vmin;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-content: space-between;
    background-color: black;
    
}
#Score{
    color: white;
    z-index: 100;
    font-size: 4vmin;
}
#Restart{
    color: white;
    z-index: 100;
    font-size: 4vmin;
    cursor: pointer;
}
#speedSelect{
    background-color: black;
    color: white;
    z-index: 100;
    width: auto;
    font-size: 4vmin;
    opacity: 1;
    cursor: pointer;
    border: none;
    outline: none;
}
.headerAnimation{
    opacity: 0;
    animation: headerAnimation 1s forwards;
    animation-delay: 2s;
}
@keyframes headerAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
select option{
    animation: 1s slideIn forwards;
}
@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(4px);
}
.menuContainer p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2000;
    color: white;
    position: absolute;
}
.game-board{
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);  
    z-index: -2;
}
.snake{
    background-color: #075a79;
    border: .25vmin solid black;
    z-index: 10;
    transition: 0.25s;
    opacity: 0;
    animation: snakeAnimation 1s forwards;
    animation-delay: 2s;
}
@keyframes snakeAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.snake-part{
    background-color: #3aaed8;
    z-index: 10;
    transition: 0.25s;
}
.food{
    z-index: 9;
    opacity: 0;
    animation: foodAnimation 1s forwards;
    animation-delay: 2s;
}
@keyframes foodAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.board{
    background-color: #82d173;
    z-index: 0;
    width: 6.67vmin;
    height: 6.67vmin;
    opacity: 0;
    animation: 1s boardAnimation forwards;
}
.board2{
    background-color: #abfaa9;
    z-index: 0;
    width: 6.67vmin;
    height: 6.67vmin;
    opacity: 0;
    animation: 1s boardAnimation forwards;
    animation-delay: 1s;
}
@keyframes boardAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
svg{
    z-index: 2;
}
.container{
    display: grid;
    grid-row: 1/16;
    grid-column: 1/16;
    opacity: 0;
    width: 100vmin;
    height: 100vmin;
}
.popup{
    border-radius: 20px;
    font-size: 6vmin;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: normal;
    padding: 10vmin;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: 1s slideUp forwards;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    backdrop-filter: blur(1px);
}
@keyframes slideUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

