*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
}
html {
    height: 100%;
    overflow: hidden;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 100vh;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuContainer{
    display: flex;
    justify-content: center;
    gap: 10vmin;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 110vh;
    backdrop-filter: blur(10px);
    #title{
        font-weight: bold;
        font-size: 4vmin;
        z-index: 2000;
        color: white;
        position: relative;
    }
    #startButton{
        font-weight: bold;
        font-size: 4vmin;
        z-index: 2000;
        color: white;
        position: relative;
        cursor: pointer;
    }
    #speedSelect{
        background-color: transparent;
        color: white;
        z-index: 100;
        width: auto;
        font-size: 4vmin;
        opacity: 1;
        cursor: pointer;
        border: none;
        outline: none;
        cursor: pointer;
    }
    #speedSelect option{
        background-color: transparent !important; 
        color: black;
        z-index: 100;
        width: auto;
        font-size: 4vmin;
        cursor: pointer;
        cursor: pointer;
    }
}
.lostContainer{
    display: flex;
    justify-content: center;
    gap: 10vmin;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 110vh;
    backdrop-filter: blur(10px);
    opacity: 0;
    #Lost{
        font-weight: bold;
        font-size: 4vmin;
        color: white;
        position: relative;
    }
    #Score{
        color: white;
        font-size: 4vmin;
        color: white;
        position: relative;
    }
    #Restart{
        font-weight: bold;
        font-size: 4vmin;
        color: white;
        position: relative;
        cursor: pointer;
    }
}
.winIndex{
    z-index: 2000;
}
.lostIndex{
    z-index: 0;
}
.game-board{
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15, 1fr);  
    z-index: -2;
}
.snake{ 
    background-color: #075a79;
    border: .25vmin solid black;
    z-index: 12;
    transition: 0.25s;
    opacity: 0;
}
.startAnimation{
    animation: snakeAnimation 1s forwards;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
.lostAnimation{
    animation: snakeLossAnimation 1s forwards;
}
@keyframes snakeLossAnimation{
    from{
        opacity: 1;
        transform: translateY(0%);
    }
    20%{
        opacity: 1;
        transform: translateY(-20%);
    }
    to{
        opacity: 0;
        transform: translateY(500%);
    }
}
@keyframes snakeAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.snake-part{
    background-color: #3aaed8;
    z-index: 10;
    transition: 0.25s;
}
.food{
    z-index: 9;
    opacity: 0;
    animation: foodAnimation 1s forwards;
    animation-delay: 2s;
}
@keyframes foodAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
.board{
    background-color: #82d173;
    z-index: 0;
    width: 6.67vmin;
    height: 6.67vmin;
    opacity: 0;
    animation: 1s boardAnimation forwards;
}
.board2{
    background-color: #abfaa9;
    z-index: 0;
    width: 6.67vmin;
    height: 6.67vmin;
    opacity: 0;
    animation: 1s boardAnimation forwards;
    animation-delay: 1s;
}
@keyframes boardAnimation{
    from{
        opacity: 0;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
svg{
    z-index: 2;
}
@keyframes slideUp{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

